@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body{
    background-image: url("../images/search-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d5d5d5;
    width: 98vw;
    height: 100%;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;

}
.page-title-div{
    text-align: center;
    font-size: 2.0rem;
    background-color: aliceblue;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 6px 7px rgba(255,255,255,1.0);
    border: none;
}
.page-title{
   margin-bottom: 0;
}
.description{
    display: block;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.search-text-box{
    width: 80%;
    height: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
    font-size: xx-large;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 0px 6px 7px rgba(255,255,255,1.0);
    border: 6px solid rgba(180, 216, 255, 0.501);
}
.search-text-box:hover{
    border: 6px solid rgb(0, 123, 255);
}

.options{
    text-align: center;
}


.btn{
    width: auto;
    margin-left: 2rem;
    text-align: center;
    margin-top: 2rem;
    font-size: xx-large;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 0px 6px 7px rgba(255,255,255,1.0);
    border: 6px solid rgba(180, 216, 255, 0.501);
    opacity: 100%;
    background-color: rgb(255,255,255);
}

.btn:hover{
    border: 6px solid rgb(0, 123, 255);
}

#search-btn{
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem; 
    font-size: xx-large;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 0px 6px 7px rgba(255,255,255,1.0);
    border: 6px solid rgba(180, 216, 255, 0.501);
    opacity: 100%;
    background-color: rgb(255,255,255);
}

#search-btn:hover{
    border: 6px solid rgb(0, 123, 255);
}

.weather{
    background-color: ghostwhite;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 8rem;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 0px 6px 7px rgba(255,255,255,1.0);
    border: 6px solid rgba(180, 216, 255, 0.501);
    /* display: none; */
}

.weather-forecast{
    background-color: ghostwhite;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 8rem;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    box-shadow: 0px 0px 6px 7px rgba(255,255,255,1.0);
    border: 6px solid rgba(180, 216, 255, 0.501);
}

.forecast-element{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    font-size: x-large;
}
.banner{
    background-color: rgb(98, 199, 253);
    width: 100%;
}
